/* ボディ */
body {
	margin: 0px;
	font-family: "Noto Sans JP";
	min-height: 100vh;
}

.main-show {
	min-height: inherit;
}

#main {
	min-height: 600px;
}
/* ロゴ */
.logo {
	width: 120px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	margin-left: 15px;
}

.logo a {
	color: #F26161;
	text-decoration: none;
	font-family: "PilGi";
}

.logo img {
	width: 100%;
	height: auto;
}
/* ログインボタン */
.login-button {
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
}

.login-button-wrapper {
	height: 28px;
	line-height: 28px;
	border: 1px solid #828290;
	border-radius: 4px;
	background-color: #F26161;
	border-color: #F26161;
	margin: 10px 10px 10px auto;
	padding: 0px 10px;
}

.account-button-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 10px 10px auto;
}

.account-button {
	height: 40px;
}
/* ヘッダー */
.header-frame {
	width: 100%;
	height: 50px;
	background-color: #ffffff;
	display: flex;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}

.header-frame-search {
	width: 100%;
	height: 50px;
	background-color: #ffffff;
	display: flex;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
	position: absolute;
	z-index: 5;
}
/* アイキャッチ画像 */
.eyecatch img {
	width: 100%;
}
/* TOPの検索フォームヘッダー */
#search-header {
	margin-bottom: 24px;
	text-align: center;
	font-weight: 700;
	font-size: 15px;
	color: #707070;
}
/* 検索フォーム */
.labeled-form-group-main-label {
	-webkit-box-flex: 1;
	flex: auto;
	margin: 8px 0;
	font-size: 16px;
}

.labeled-form-group-labels {
	margin-top: 20px;
	display: flex;
	color: #828290;
}

.top-search-box {
	width: 90%;
	margin: 50px auto 0 auto;
}

.labeled-form-group-pull-down {
	width: 100%;
	position: relative;
	display: inline-block;
}

.labeled-form-group-pull-down::after {
	content: '';
	width: 6px;
	height: 6px;
	border: 0px;
	border-bottom: solid 2px #b4b3b3;
	border-right: solid 2px #b4b3b3;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -4px;
}

.labeled-form-group-pull-down select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	height: 40px;
	background: transparent;
	position: relative;
	z-index: 1;
	padding: 0 40px 0 10px;
	border: 1px solid #dadbe3;
	border-radius: 4px;
	color: #707070;
	font-size: 14px;
}

.labeled-form-group-pull-down select::-ms-expand {
	display: none;
}

.labeled-form-group-input {
	width: 100%;
	position: relative;
	display: inline-block;
}

.labeled-form-group-input input {
	box-sizing: border-box;
	width: 100%;
	padding: 0 40px 0 10px;
	transition: 0.3s;
	border: 1px solid #dadbe3;
	border-radius: 4px;
	outline: none;
	color: #707070;
	font-size: 14px;
	height: 40px;
}
/* 送信ボタン */
.submit-button {
	height: 44px;
	width: 294px;
	line-height: 28px;
	border: 1px solid #828290;
	border-radius: 4px;
	background-color: #F26161;
	border-color: #F26161;
	padding: 0px 5px;
	color: #ffffff;
	font-size: 16px;
}

.button-block {
	display: flex;
	justify-content: center;
	margin: 20px 0px;
}
/* TOPケーキ屋サジェスト */
.popular-suggest p {
	font-size: 15px;
	color: #707070;
	margin: 8px auto;
}

hr {
	margin: 2px 0px;
}

.popular-suggest-block {
	display: flex;
	width: 100%;
	height: 150px;
	justify-content: center;
	align-items: center;
	position: relative;
}

.popular-suggest-block a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-indent: -999px;
}

.popular-suggest-img-container {
	height: 100px;
	width: auto;
	text-align: center;
	position: relative;
}

.popular-suggest-img {
	height: 120px;
	width: 160px;
	display: block;
	position: relative;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

.popular-suggest-h3 {
	width: 50%;
	padding: 10px 10px 10px 15px;
	font-size: 14px;
	line-height: 1.5em;
}

.popular-suggest-h3 h3 {
	width: 100%;
	margin: auto 0px;
	color: #707070;
}
/* フッター */
.footer {
	width: 100%;
	height: 300px;
	background-color: #41424F;
	margin-top: 50px;
	padding-top: 30px;
}

.logo-footer {
	font-size: 20px;
	text-align: center;
	position: relative;
}

.logo-footer a {
	color: #ffffff;
	text-decoration: none;
	font-family: "PilGi";
}

.logo-footer img {
	width: 120px;
}
.complete-container h2 {
	color: #707070;
	padding: 20px;
	font-size: 20px;
}

.complete-container {
	height: 200px;
	width: 100%;
	display: flex; /* 子要素をflexboxで揃える */
	flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
	justify-content: center; /* 子要素をflexboxにより中央に配置する */
	align-items: center; /* 子要素をflexboxにより中央に配置する */
}

.complete-box {
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: center
}

.content-block {
	width: 90%;
	text-align: center;
	margin: 0 auto;
}

.content-block h1 {
	margin: 30px 0;
}

#search-header {
	margin: 30px auto 20px auto;
}

#search-header h1 {
	font-size: 20px;
}

.order-list-box img {
	height: 50px;
	margin: 10px auto;
}

.order-list-box

p
:not

(
.order-list-date

)
{
font-size
:

20
px
;


}
.order-list-box a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-indent: -999px;
}

.order-list-box {
	position: relative;
	margin-bottom: 10px;
}

.order-list-date {
	font-size: 15px;
	margin: 10px 0;
}

.CakeStoreListForm {
	margin-top: 20px;
}